---
import Layout from '../layouts/BlogPost.astro';
import GlowLineSeparator from '@/components/ui/separator/GlowLineSeparator.astro';
const pageTitle = 'Presentación';
const pageDescription = 'Mi breve presentación y mi camino hacia estudiar Ingeniería de Sistemas.';
---

<Layout title={pageTitle} description={pageDescription} pubDate={new Date()} showHeader={false}>
  <p>
    Hola! Soy un estudiante actual de quinto semestre del programa de Ingeniería de Sistemas de la Universidad El Bosque.
  </p>
  <p>
    Desarrollo soluciones tecnológicas a través de lenguajes como Java, Python, frameworks y otras herramientas como React, 
    TypeScript, SpringBoot, MySQL, Oracle, entre otras. Me enfoco mucho en realizar trabajo de calidad, que sea intuitivo y 
    fácil de comprender tanto para quienes están familiarizados con el mundo del desarrollo, como con quienes no lo están,
    cuento con la habilidad de comprender y comunicarme de manera asertiva con los clientes o empresas que se acercan a mí
    con fines de negocio, cuento con excelentes habilidades para liderar equipos de trabajo y gestionar efectivamente el flujo
    de trabajo y comunicación entre los miembros que los conforman.
  </p>
  <p>
    Me apasiona mucho el mundo de la tecnología y todo lo que lo rodea, por lo que usualmente me mantengo al día e informado
    acerca de las noticias y nuevas tecnologías que rodean a la industria en la que aspiro desempeñarme en un futuro no muy lejano.
  </p>
  <p>
    Fuera de aspectos de trabajo, me apasiona el fútbol, la música, la moda, conocer lugares nuevos y sobre todo frecuentar
    entornos que me ayudan a desarrollar mis habilidades sociales y blandas. Estaré siempre dispuesto a colaborar y trabajar
    en equipo, para así impulsar juntos nuestras carreras.
  </p>
  <p>
    Abajo, en la sección de 'Contacta conmigo' verás un botón que dice 'Conoce un poco más de mí' donde encontrarás mi video de presentación, échale un vistazo.
  </p>

  <GlowLineSeparator />

</Layout>
