---
import Layout from '../layouts/BlogPost.astro';
import GlowLineSeparator from '@/components/ui/separator/GlowLineSeparator.astro';
const pageTitle = 'Evidencias';
const pageDescription = 'SQL | PL/SQL Scripts | NoSQL | Proyecto';
---

<Layout title={pageTitle} description={pageDescription} showHeader={false}>
  <p>| SQL | PL/SQL Scripts | NoSQL | Proyecto |</p>  
  <p>
    Aquí se irán anexando los diferentes ejercicios y el progreso realizado en clase y casa, tanto de los temas, como del proyecto final.
  </p>
  <GlowLineSeparator />

</Layout>